.pageHeaderContainer {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.pageHeader {
  width: 200px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
